* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: green; 
  font-size: 2rem;
  margin: 10px 0px;
}

.caja-azul {
  max-width: 400px;  
  margin: 20px 10px;  
  padding: 10px; 

  background-color: #ffffff;
  border: 8px solid blue;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

body {
  background: url("cubos.png") no-repeat center center; 
  background-size: cover; 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Encabezado superior */
.top-bar {
  display: flex;
  align-items: center;
  background-color: #ececec;
  /*Inferior superior, derecha izquierda */
  padding: 0.9rem 5rem;
  border-bottom: 2px solid #ccc;
}

.home-icon img {
  width: 40px;   
  height: 40px;
  align-content: center;
}

.top-bar h1 {
  margin-left: 1rem;
  font-size: 2rem;
}

.menu {
  background-color: #eee;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

/*Reglas, Bases, Reseñas, Acceso */
.menu li a {
  display: block;
  padding: 1rem 0.8rem;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
  background-color: #ccc;
}

.menu li a.active {
  /* La pestaña activa en “azulito” */
  background-color: blue;
  color: #fff;
}

/* Contenido */
main {
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;     /* Centra verticalmente si estableces un alto fijo */
  height: 85px; 
}

.footer a{
  margin: 0 10px; /* 10px de separación entre los enlaces */
}

